@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$primary-color = grey;
$secondary-color = black;
$tertiary-color = white;
$primary-font = 'Open Sans';
//------MIXINS------
border-radius-corners(location,n){
  border-{location}-left-radius n
  border-{location}-right-radius n
}
h2{
  color:blue;
}