@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$primary-color = black;
$secondary-color = #070707;
$box-title-color = #d6d6d6;
$transit-title-color = #d9d9d9;
$transit-time-color = rgb(202, 202, 202);
$primary-font = 'Open Sans';
$background-url = "https://wallpaper.wiki/wp-content/uploads/2017/05/wallpaper.wiki-Pictures-1440p-Download-Free-PIC-WPE007775.jpg";
//------MIXINS------

border-radius-corners(location,n)
  border-{location}-left-radius n
  border-{location}-right-radius n

absolute-dimensions(height,width)
  position absolute
  height height
  width width

background-picture()
  background: url($background-url)  no-repeat center center fixed;
  background-size: cover;

relative-hidden-overflow()
  overflow hidden
  position relative