.clock-container{
  display: flex;
  flex-direction : row;
  h1{
    margin : 0;
    font-size: 55px;
  }
  .clock-time{
    position: absolute;
    right:0;
    h1{
      display: inline-block;
      margin-left:20px;
    }
    i{
      font-size:50px;
    }
  }
}