@import '../../constants/theme.styl';
.box{
  width:95%;
  margin-left:27px;
  relative-hidden-overflow()
  margin-bottom: 50px;
  border-radius: 20px;
  &.box-bus{
    width:25%;
    display: inline-block;
  }
  &.box-train{
    width:25%;
    display: inline-block;
  }
  &.box-driving-time{
    width:30%;
    display: inline-block;
  }
}
.box-header{
  display:flex;
  position: relative;
  .box-bg{
    background-color:$secondary-color;
    border-radius-corners(top,20px);
  }
  i{
    margin-top:auto;
    margin-bottom:auto;
    margin-left:10px;
    font-size:1.5em;
  }
  p{
    margin-left: 15px;
    color : $box-title-color;
  }
}
.box-body{
  relative-hidden-overflow()
  .box-bg{
    background-color: $primary-color;
    border-radius-corners(bottom,20px);
  }
}
.box-blur{
  z-index: -100;
  background-picture();
  absolute-dimensions(125%,219%);
  top:-13%;
  right: -51%;
  filter: blur(30px);
}
.box-bg{
  absolute-dimensions(100%,100%);
  opacity:0.5;
  z-index :-1;
}
.transit-title{
  color: $transit-title-color;
  font-weight:bolder;
  font-size:12px;
  margin-left: 10px;
  letter-spacing :1px;
}
.transit-time{
  color: $transit-time-color;
  font-weight: bolder;
  border-bottom : 1px solid;
  text-align: center;
  margin : 0 60px 0 60px;
  letter-spacing:3px;
}
.transit-time:last-child{
  border : 0px;
}
.transit-empty{
  color: #404d51;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}