@import '../../constants/theme.styl';
.box{
  width:95%;
  margin-left:27px;
  relative-hidden-overflow()
  margin-bottom: 50px;
  border-radius: 20px;
  &.box-bus{
    width:47%;
    display: inline-block;
  }
  &.box-train{
    width:45.5%;
    display: inline-block;
    position:absolute;
  }
}
.box-header{
  display:flex;
  position: relative;
  .box-bg{
    background-color:white;
    border-radius-corners(top,20px);
  }
  i{
    margin-top:auto;
    margin-bottom:auto;
    margin-left:10px;
  }
  p{
    margin-left: 15px;
  }
}
.box-body{
  relative-hidden-overflow()
  .box-bg{
    background-color: #ffe9e2;
    border-radius-corners(bottom,20px);
  }
  p{
    margin-left: 10px;
  }
}
.box-blur{
  z-index: -100;
  background-picture();
  absolute-dimensions(125%,106%);
  top:-13%;
  filter: blur(30px);
}
.box-bg{
  absolute-dimensions(100%,100%);
  opacity:0.5;
  z-index :-1;
}
.transit-time{
  color: #5d747a;
  font-weight: bolder;
  border-bottom : 1px solid;
  text-align: center;
  margin : 0 10px 0 10px;
}