@import '../../constants/theme.styl';
.box{
  width:95%;
  margin:auto;
}
.box-header{
  display:flex;
  border-radius-corners(top,20px);
  background-color: #b9dee7;
  padding-left: 10px;
  i{
    margin-top:auto;
    margin-bottom:auto;
  }
  p{
    margin-left: 15px;
  }
}
.box-body{
  height: auto;
  background-color: #a6d1e1;
  padding-left: 10px;
  border-radius-corners(bottom,20px);
  p{
    margin:0;
  }
}